/* global style */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

p {
  margin: 0;
}

.nounderline {
  text-decoration: none;
}

/* non-global style */

/* home page styling */

.mountain {
  background-image: url("img/home.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navHeight {
  height: 65px;
}

.logo {
  width: 43px;
  height: 43px;
}

.lm {
  width: 594px;
  height: 230px;
  color: #4d4d4d;
  font-family: Bebas;
  font-size: 73px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 124.56px;
  text-align: left;
  text-transform: uppercase;
}

.losangeles {
  font-style: normal;
  letter-spacing: 0.13px;
  line-height: normal;
}

.mountains {
  color: #414f6b;
  font-size: 80px;
  font-style: normal;
  letter-spacing: 0.14px;
  line-height: normal;
}

@media only screen and (max-width: 700px) {
  .lm {
    font-size: 45px;
    width: fit-content;
    height: fit-content;
  }

  .mountains {
    font-size: 50px;
  }
}

.homeNavLink {
  width: 192px;
  height: 9px;
  color: #fefeff;
  font-family: "Lato - Black Italic";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 1.2px;
  line-height: normal;
}

/* history page styling */

.stickyNavLinkColor {
  color: #414f6b;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: block;
  background-color: white;
}

.logoLM {
  width: 130px;
  height: 43px;
  color: #4d4d4d;
  font-family: Bebas;
  font-size: 17.5px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22.84px;
  text-align: center;
  text-transform: uppercase;
}

.logoLosangeles {
  font-style: normal;
  letter-spacing: 0.13px;
  line-height: normal;
}

.logoMountains {
  color: #414f6b;
  font-size: 19.5px;
  font-style: normal;
  letter-spacing: 0.14px;
  line-height: normal;
}


.historyM {
  background-image: url("img/peak.png");
  background-size: cover;
  width: 100%;
  height: 900px;
  z-index: -1;
  position: relative;
}

.historyTopPadding {
  padding-top: 100px;
}

.zeroOne {
  width: 144px;
  height: 124px;
  opacity: 0.5;
  color: #414f6b;
  font-family: Oswald;
  font-size: 136px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.zeroOneHistory {
  width: 110px;
  height: 30px;
  color: #414f6b;
  font-family: Oswald;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  position: relative;
  top: -25px;
  left: -32px;
}

@media only screen and (max-width: 342px) {
  .zeroOneHistory {
    left: 7px;
  }
}

.historyDescription {
  max-width: 813px;
  min-height: 63px;
  color: #000000;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.historyDescriptionMP {
  position: relative;
  top: -20px;
  margin-left: 16px;
}

.carouselPosition {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 195px;
  background-color: #414f6b;
}

.innerCarousel {
  margin: 0 12%;
}

.thumbnail {
  width: 220px;
  height: 135px;
}

/* climb page styling */

.zeroTwo {
  width: 170px;
  height: 124px;
  opacity: 0.5;
  color: #414f6b;
  font-family: Oswald;
  font-size: 136px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.zeroTwoClimb {
  width: 80px;
  height: 30px;
  color: #414f6b;
  font-family: Oswald;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  position: relative;
  top: -25px;
  left: -32px;
}

.climbDescription {
  max-width: 600px;
  min-height: 39px;
  color: #000000;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  position: relative;
  top: -100px;
  left: 290px;
}

/* Style the tab */
.tab {
  height: 40px;
  background-color: #414f6b;
}

/* Style inside the tab */
.tab a {
  background-color: inherit;
  width: 140px;
  height: 40px;
  padding-top: 9px;
  color: #b0b4be;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

/* Create an active/current tablink class */
.tab a.active {
  background-color: #b0b4be;
  color: #414f6b;
  text-decoration: underline;

}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  width: 352px;
  height: 229px;
  background-color: #ffffff;
  opacity: 0.7;
}


.climbM {
  background-image: url("img/climb.png");
  background-size: cover;
  width: 100%;
  height: 900px;
  z-index: -1;
  padding-top: 100px;
}

.tabcontent h3 {
  width: 132px;
  height: 30px;
  color: #414f6b;
  font-family: Oswald;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.schedule {
  width: 270px;
  height: 132px;
  color: #000000;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

/* footer styling */

.footerHeight {
  width: 100%;
  height: 74px;
  background-color: #414f6b;
}

.footerLogoLM {
  width: 110px;
  height: 43px;
  color: #63769d;
  font-family: Bebas;
  font-size: 17.5px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22.84px;
  text-align: left;
  text-transform: uppercase;
}

.footerLogoLosangeles {
  font-style: normal;
  letter-spacing: 0.13px;
  line-height: normal;
}

.footerLogoMountains {
  font-size: 19.5px;
  font-style: normal;
  letter-spacing: 0.14px;
  line-height: normal;
}

.copyright {
  width: auto;
  height: 9px;
  color: #63769d;
  font-family: "Lato - Black Italic";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 1.2px;
  line-height: normal;
}

/* media queries */
@media only screen and (min-width:343px) {
  .historyDescriptionMP {
    margin-left: 60px;
  }

  .climbDescription {
    position: static;
    margin-left: 60px;
  }

  .innerCarousel {
    margin: 0 18%;
  }
}

@media only screen and (min-width:450px) {
  .innerCarousel {
    margin: 0 22%;
  }
}

@media only screen and (max-width: 450px) {
  .logoLM {
    display: none;
  }
}

@media only screen and (min-width:520px) {
  .innerCarousel {
    margin: 0 24%;
  }
}

@media only screen and (max-width:550px) {
  .footerLogoLM {
    display: none;
  }
}

@media only screen and (min-width:576px) {
  .historyDescriptionMP {
    margin-left: 70px;
  }

  .climbDescription {
    margin-left: 70px;
  }

  .innerCarousel {
    margin: 0 26%;
  }
}

@media only screen and (min-width:600px) {
  .innerCarousel {
    margin: 0 28%;
  }
}

@media only screen and (min-width: 650px) {
  .innerCarousel {
    margin: 0 32%;
  }
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media only screen and (min-width:700px) {
  .innerCarousel {
    margin: 0 35%;
  }
}

@media only screen and (min-width:768px) {
  .historyDescriptionMP {
    margin-left: 80px;
  }

  .climbDescription {
    margin-left: 80px;
  }

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }

  .innerCarousel {
    margin: 0 4.5%;
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

@media only screen and (min-width:992px) {
  .historyDescriptionMP {
    margin-left: 110px;
  }

  .climbDescription {
    position: relative;
    margin-left: 0px;
  }
}